.generate {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5vh;
  background: url(../../assets/images/record/generate_back.png) center no-repeat;
  background-size: 100% 100%;
  .head {
    width: 80%;
    transform: translate(5%, 3vh);
    background: url(../../assets/images/record/generate_head.png) center
      no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vh 0 2vh 0;
    .title {
      transform: translateX(-5%);
      letter-spacing: 1px;
      font-size: 25px;
      color: red;
    }
    .tip {
      transform: translateX(-5%);
      color: red;
      font-size: 15px;
    }
  }

  .box {
    width: 90vw;
    position: relative;
    border-radius: 5px;
    position: relative;
    top: 8%;
  }

  .btn {
    padding: 12px 27px;
    background-color: #1890ff;
    color: #fff;
    border: 0;
    border-radius: 5px;
    font-size: 18px;
    margin: 18px 0;
  }

  .birth_year {
    text-align: center;
    padding: 18px 0;
    background: url(../../assets/images/record/generate_btn_back.png) center
      no-repeat;
    background-size: 100% 100%;
    border: 0;
    width: 270px;
    outline: none;
    font-weight: 600;
    color: red;
  }

  .eulogy {
    padding: 18px 2px;
    width: 270px;
    margin-bottom: 3vh;
    background: url(../../assets/images/record/generate_btn_back2.png) center
      no-repeat;
    background-size: 100% 100%;
    border: 0;
    outline: none;
    font-weight: 600;
    color: red;
  }
}
.generate > .box > div:nth-child(1) {
  background: url(../../assets/images/record/generate_border.png) center
    transparent no-repeat;
  background-size: 100% 100%;
  width: 104%;
  height: 39vh;
  position: relative;
  padding-top: 4vh;
  overflow: hidden;
  .line {
    top: 0;
    position: absolute;
    height: 100%;
    width: 3px;
    background-image: linear-gradient(
      to bottom,
      red 0%,
      red 0%,
      1px,
      transparent 1px,
      transparent
    );
    background-size: 100% 5px;
    left: 35%;
  }
  .article {
    font-size: 12px;
    display: flex;
    justify-content: center;
    width: 90%;
    margin-bottom: 20px;
  }
}

.scroller {
  top: 0;
  height: 100%;
  width: 5px;
  position: absolute;
  height: 65vw;
  margin-right: 27px;
  right: 0;
  transform: translateY(4vh);
}

.scrollbtn {
  width: 12px;
  height: 18px;
  background-color: rgb(4, 255, 4);
  border-radius: 5px;
  position: absolute;
  transform: translateX(-3.5px);
  top: 0;
}

.btn-box {
  transform: translateY(9vh);
}

.btn-generate {
  background: url(../../assets/images/record/generate_btn_back3.png) center
    no-repeat;
  background-size: 100% 100%;
  width: 270px;
  height: 67px;
  outline: none;
  border: 0;
  transform: translateY(7vh);
  background-color: transparent !important;
}
