.index {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: url(../../assets/images/record/indexback.png) center no-repeat;
  align-items: center;
  background-size: 100% 100%;
  padding-top: 10vh;
  .btn {
    background-color: #1890ff;
    color: #fff;
    border: 0;
    transform: translateY(70vh);
    background: url(../../assets/images/record/btn.png) center no-repeat;
    background-size: 100% 100%;
    height: 59.67px;
    width: 254px;
  }
}
