.index {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: url(../../assets//indexback.png) center no-repeat;
  align-items: center;
  background-size: 100% 100%;
  padding-top: 10vh;
  .btn {
    padding: 48px 70px;
    background-color: #1890ff;
    color: #fff;
    border: 0;
    border-radius: 5px;
    font-size: 48px;
    transform: translateY(72vh);
    letter-spacing: 5px;
    font-weight: 600;
  }
}
