.over {
  height: 105vh;
  background: url(../../assets/images/record/over_back.png) no-repeat center;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
  position: relative;
  justify-content: space-between;
  .title {
    text-align: center;
    transform: translateY(16vh);
    font-size: 3vh;
    font-family: HeiYanTi;
    color: #de4d18;
  }
  .title2 {
    text-align: center;
    transform: translate(2.1vh, 8.1vh);
    color: #de4d18;
    font-family: HeiYanTi;
    font-size: 48px;
    letter-spacing: 32px;
  }
  .record {
    width: 50vw;
    height: 50vw;
    transform: translateY(1.2vh);
    background: url(../../assets/images/record/over_record.png) center no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 50%;
    }
  }
  .year {
    color: #de4d18;
    font-family: HeiYanTi;
    transform: translateY(-7vh);
    font-size: 7vw;
    text-align: center;
  }
  .article {
    margin-top: 1vh;
  }
  .copy {
    color: #ffa205;
    font-size: 21px;
    font-family: HeiYanTi;
    transform: translateY(-18vh);
    width: 79vw;
    div:nth-child(1) {
      height: 7vw;
    }
    div:nth-child(2) {
      margin-top: 2vh;
      text-align: end;
    }
  }
  .save {
    color: #f4bfa9;
    font-size: 23px;
    font-family: HeiYanTi;
    position: absolute;
    bottom: 12vh;
  }
  .code {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    bottom: 5vh;
    img {
      width: 50px;
      height: 50px;
    }
    div {
      margin-top: 1vh;
      font-family: HeiYanTi;
      color: #f4bfa9;
    }
  }
}
