.loading {
  height: 100vh;
  padding: 3vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(../../assets/images/record/index_back.png) center no-repeat;
  background-size: 100% 100%;
  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    img {
      width: 42vw;
      margin: 4vh 0;
      transition: all 0.3s;
    }
    div {
      margin: 1vh 0;
    }
    .process {
      height: 15px;
      width: 60%;
      border-radius: 15px;
      background-color: #fff;
      position: relative;
      span {
        border-radius: 15px;
      }
    }
    .load {
      font-weight: bold;
      color: #fff;
    }
    .pen {
      width: 30px;
      position: absolute;
      top: -35px;
      margin: 0;
      transition: none;
      animation: penMove linear infinite 1s;
    }
  }
}

@keyframes penMove {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-25deg);
  }
}
